@page
@model WebApplication1.Pages.Mangas.MashleModel
@{
    ViewData["Title"] = "Detalles de Mashle";
}

<head>
    <link rel="stylesheet" href="~/css/Vistas.css" />
</head>

<div class="container mt-5">
    <!-- Contenedor de la fila para los detalles del manga -->
    <div class="row">
        <!-- Imagen del Manga -->
        <div class="col-md-4">
            <img src="https://m.media-amazon.com/images/I/61F2ECqLoDL._AC_UF1000,1000_QL80_.jpg"
                 alt="Mashle" class="img-fluid rounded shadow-lg border border-secondary">
        </div>

        <!-- Información del Manga -->
        <div class="col-md-8">
            <h3 class="manga-title" style="font-size: 30px; font-weight: bold; color: #34495e;">Mashle</h3><br />
            <p class="manga-author" style="font-size: 18px; color: #7f8c8d;"><strong>Autor:</strong> Hajime Komoto</p><br />
            <p class="manga-rating" style="font-size: 18px; color: #f39c12;"><strong>Calificación:</strong> ⭐ 4.7</p><br />
            <p class="manga-year" style="font-size: 18px; color: #7f8c8d;"><strong>Año de publicación:</strong> 2020</p><br />
            <p class="manga-status" style="font-size: 18px; color: #7f8c8d;"><strong>Estado:</strong> En curso</p><br />
            <p class="manga-synopsis" style="font-size: 18px; line-height: 1.6; color: #2c3e50;">
                <strong>Sinopsis:</strong> Mashle es un joven con increíbles habilidades físicas, pero en un mundo donde la magia lo es todo, carece de magia. A pesar de esto, sueña con convertirse en el mejor mago, desafiando todos los límites con su fuerza y habilidades, mientras se enfrenta a situaciones desafiantes.
            </p><br />

            <!-- Botón para ver más detalles -->
            <a href="https://www.youtube.com/watch?v=MT1Vt4_4xJ4&pp=ygUOcmVzdW1lbiBtYXNobGU%3D" class="btn btn-primary mt-3" style="font-size: 18px; padding: 12px 20px; border-radius: 8px; background-color: #2980b9; border-color: #2980b9;">
                Leer más detalles
            </a>

            <!-- Botón para regresar -->
            <button onclick="window.history.back();" class="btn btn-secondary mt-3 manga-button">Regresar</button>
        </div>
    </div>
</div>
