@page
@model WebApplication1.Pages.DirectorioModel
@{
    ViewData["Title"] = "Directorio de mangas";
}

<div class="container mt-5">
    <h2 class="text-center">Mangas</h2><br />
    <div class="row">
        <!-- Producto Naruto -->
        <div class="col-md-3">
            <div class="manga-card hover-effect">
                <img src="https://cmsapi-frontend.naruto-official.com/site/api/naruto/Image/get?path=/naruto/jp/comics/2022/09/29/Vk3QmOjeOkcGbzps/cover.jpg" alt="Naruto" class="manga-cover">
                <div class="manga-info">
                    <h3 class="manga-title">Naruto</h3>
                    <p class="manga-author">Autor: Masashi Kishimoto</p>
                    <p class="manga-rating">⭐ 4.8</p>
                    <button class="view-details">Ver más</button>
                </div>
            </div>
        </div>
        <!-- Producto Hunter X Hunter -->
        <div class="col-md-3">
            <div class="manga-card hover-effect">
                <img src="https://m.media-amazon.com/images/I/815uHbvvu1L._AC_UF1000,1000_QL80_.jpg" alt="Hunter X Hunter" class="manga-cover">
                <div class="manga-info">
                    <h3 class="manga-title">Hunter X Hunter</h3>
                    <p class="manga-author">Autor: Yoshihiro Togashi</p>
                    <p class="manga-rating">⭐ 4.9</p>
                    <button class="view-details">Ver más</button>
                </div>
            </div>
        </div>
        <!-- Producto Berserk -->
        <div class="col-md-3">
            <div class="manga-card hover-effect">
                <img src="https://m.media-amazon.com/images/I/71lnvXSiITL._AC_UF1000,1000_QL80_.jpg" alt="Berserk" class="manga-cover">
                <div class="manga-info">
                    <h3 class="manga-title">Berserk</h3>
                    <p class="manga-author">Autor: Kentaro Miura</p>
                    <p class="manga-rating">⭐ 5.0</p>
                    <button class="view-details">Ver más</button>
                </div>
            </div>
        </div>
        <!-- Producto Mashle -->
        <div class="col-md-3">
            <div class="manga-card hover-effect">
                <img src="https://m.media-amazon.com/images/I/61F2ECqLoDL._AC_UF1000,1000_QL80_.jpg" alt="Mashle" class="manga-cover">
                <div class="manga-info">
                    <h3 class="manga-title">Mashle</h3>
                    <p class="manga-author">Autor: Hajime Komoto</p>
                    <p class="manga-rating">⭐ 4.7</p>
                    <button class="view-details">Ver más</button>
                </div>
            </div>
        </div>
    </div>
</div>

